html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Verdana', arial, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #3aafa9ad;
}

#homepage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    left: 30px;
    top: 30px;
    background-image: url('home_icon.png');
    background-position: center;
    background-size: contain;
    opacity: 0.3;
    transition: opacity, width, height 0.1s linear;
    cursor: pointer;
}

#homepage:hover {
    opacity: 0.5;
    width: 51px;
    height: 51px;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#actor {
    display: flex;
}

.poster {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.poster img {
    width: 32vw;
    height: 95vh;
    border-radius: 20px;
}

#inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 66vw;
}

#text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #17252a;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    background-color: #b6e2e0;
    border-radius: 15px;
    height: 60vh;
}

#name {
    color: #feffff;
	font-size: 50px;
    padding: 3px;
    margin: 0;
}

#date {
    color: #feffff;
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 20px 0;
}

#rate {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 7px;
    justify-content: center;
    margin-bottom: 7px;
}

#money {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 7px;
    justify-content: center;
}

#biography {
    color: #17252a;
    padding: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 10px;
}

#biography::-webkit-scrollbar {
    display: none;
}

#rec-wrapper {
    margin: 20px 0px 0px 5px;
    align-self: center;
}

#rec-text {
    text-align: center;
    padding: 5px;
    color: #17252a;
	font-size: 20px;
    font-weight: bold;
}

#rec-cards {
    width: fit-content;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#rec-cards::-webkit-scrollbar {
    display: none;
}



/* --- || movies cards || ---*/

#movies, #rec-cards {
    margin-top: 5px;
    overflow-x: scroll;
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #b6e2e0;
    border-radius: 15px;
}

#movies::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 155px;
    max-width: 155px;
    height: 205px;
    transition: 0.2s;
    margin: 5px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}

.card .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity: 0;
    transition: opacity 0.25s linear;
    z-index: 1;
    border-radius: 20px;
    cursor: pointer;
}

.card:hover > .overlay {
    opacity: 0.6;
}

.card:hover > h1 {
    opacity: 100;
    z-index: 2;
}

.card:hover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card h1 {
    color: #fff;
	font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.25s linear;
    padding: 3px;
    cursor: pointer;
    overflow: hidden;
}
