<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/movie.css')}}">
    </head>
    <body>
        <div id='wrapper'></div>
        <script>
            let jActor = '{{ actor | tojson | safe }}';
            let jMovies = '{{ movies | tojson | safe }}';
            let jRec = '{{ rec | tojson | safe }}';
            let actorRec = JSON.parse(jAcotr); 
            let moviesRec = JSON.parse(jMovies);
            let recActorsRec = JSON.parse(jRec);
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/movie.js') }}"></script>
    </body>
</html>