<!DOCTYPE html>
<html>
    <body>
        <div id='blocks'>
        </div>
        <script>
            var type = '{{ type }}';
            var rec = [];
            {% for record in records %}
                let inner = []
                {% for elem in record %}
                    inner.push((elem))
                {% endfor %}
                rec.push(inner)
            {% endfor %}
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/blocks.js') }}"></script>
        <script>
            blocks(type, rec);
        </script>
    </body>
</html>
