<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/blocks.css')}}">
    </head>
    <body>
        <div id='homepage' onclick='home()'></div>
        <div id='blocks'>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/blocks.js') }}"></script>
        <script>
            let type = '{{ type }}';
            let j = '{{ records | tojson }}';
            let rec = JSON.parse(j); 
            blocks();
        </script>
    </body>
</html>
