<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/genre.css')}}">
    </head>
    <body>
        <div id='switch'>
            <input id="on" name="state-d" type="radio" checked="" />
            <label for="on" onclick="swtichToMovies()">Movies</label>
          
            <input id="off" name="state-d" type="radio" />
            <label for="off" onclick="switchToActors()">Actors</label>     
        </div>
        <div id='movies'>
        </div>
        <div id='actors'>
        </div>
        <script>
            let jMovies = '{{ movies | tojson | safe }}';
            let jActors = '{{ actors | tojson | safe }}';
            let topMovies = JSON.parse(jMovies); 
            let topActors = JSON.parse(jActors);
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/genre.js') }}"></script>
        <script>
            createTopMovies();
            createTopActors();
        </script>
    </body>
</html>