<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/genre.css')}}">
    </head>
    <body>
        <div id='wrapper'>
        </div>
        <script>
            let jMovies = '{{ movies | tojson }}'.replace(/\\"/g, "");
            let jActors = '{{ actors | tojson }}'.replace(/\\"/g, "");
            let movies = JSON.parse(jMovies); 
            let actors = JSON.parse(jActors);
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/genre.js') }}"></script>
        <script>
            createTop();
        </script>
    </body>
</html>