<!DOCTYPE html>
<html>
  <head>
    <title>MovieStats</title>
    <link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class='homepage'>
    <div class='top-section'>
      <div class='top-inner'>
        <h1>MovieStats</h1>
        <h3>Get statistics over millions of movies</h3>
        <form autocomplete="off" action="/action_page.php">
          <select id='menu' onchange='menuChange()'>
            <option value='Movie'>Movies</option>
            <option value='Actor'>Actors</option>
            <option value='Genre'>Geners</option>
          </select>
          <div class="autocomplete">
              <input id="myInput" type="text" name="myCountry" placeholder="Type a movie name.."></input>
          </div>
          <input type="submit" onclick="getEntities()"></input>
        </form>
        <script type="text/javascript" src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
      </div>
    </div>
  </body>
</html>