<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/movie.css')}}">
    </head>
    <body>
        <div id='homepage' onclick='home()'></div>
        <div id='wrapper'></div>
        <script>
            let jMovie = '{{ movie | tojson | safe }}';
            let jActors = '{{ actors | tojson | safe }}';
            let jRecMovies = '{{ rec | tojson | safe }}';
            let movieRec = JSON.parse(jMovie); 
            let actorsRec = JSON.parse(jActors);
            let recMoviesRec = JSON.parse(jRecMovies);
            let moviePos = '{{ pos }}';
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/movie.js') }}"></script>
    </body>
</html>