<!DOCTYPE html>
<html>
  <head>
    <title>MovieStats</title>
    <link type='text/css' rel='stylesheet' href='../static/style.css'>
  </head>
  <body class='search'>
    <nav class='homepage-nav'>
      <div class='nav-inner hover-effect'>
        <a href='search.html'>
            <span class='icon'>
                <img src="../static/img/camera_white.png" alt="">
            </span>
             Search
        </a>
        <a href='statistics.html'>
            <span class='icon'>
                <img src="../static/img/notebook_white.png" alt="">
            </span>
                Statistics
        </a>
        <a href='actors.html'>
            <span class='icon'>
                <img src="../static/img/chair_white.png" alt="">
            </span>
                Actors
        </a>
        <a href='about.html'>
            <span class='icon'>
                <img src="../static/img/glasses_white.png" alt="">
            </span>
            About
        </a>
      </div>
    </nav>
    <main>

    </main>
    <footer>
      <p>
        This is an open source project - the code can be found on  
        <a href='https://github.com/DoriRimon/MovieStats' target='_blank'>GitHub</a>
      </p>
      <p>
        Having a problem? Issues are welcomed on the GitHub page
      </p>
    </footer>
  </body>
</html>